@charset "UTF-8";

/* --------------------
common
-------------------- */

body {
  color:#383e45;
  font-size: 0.9rem;
}
a {
  color: #383e45;
  text-decoration: none;
}
img {
  max-width: 100%;
}
main {
  margin-bottom: 20px;
}
.section-title {
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;  
  border-bottom: solid 1px #383e45;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto 100 auto;
  padding: 0 4%;
  text-align: center;
}
#footer p {
  font-size: 10px;
}
h2 {
  font-family: 'Lobster', sans-serif;
}
/* --------------------
Phone 
-------------------- */
@media screen and (max-width: 599px) {
  body {
    background: linear-gradient(-570deg, #6551ff5b, #7ef6f865) fixed;
  }


  section {
    display: flex;
  }

  /* --------------------
  header
  -------------------- */
  /*-- humburger menu 三本線 --*/
  #header .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #1b1c1dad;
  }

  #header .menu-btn span,
  #header .menu-btn span::before,
  #header .menu-btn span::after {    
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }
  .menu-btn span::before {
    bottom: 8px;
    transition: all .5s;
  }
  .menu-btn span::after {
    top: 8px;
    transition: all .5s;
  }

  /*-- humburger menu × --*/    
  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    transition: all .5s;
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    transition: all .5s;
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
    transition: all .5s;
  }

  /*-- humburger menu check-box --*/  
  #menu-btn-check {
    display: none;
  }

  /*-- humburger menu  中--*/
  .menu-content {
    display: flex;
    margin-left: auto;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #383e45f3;
  }
  .menu-content ul {
    width: 100%;
    padding: 70px 10px 0;

  }
  .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }
  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }
  .menu-content ul li a::before {
    content: '';
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 17px;
  }


  /*-- humburger menu ×で閉じる --*/
  .menu-content {
    width: 65%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 80;
    background-color: #383e45d5;
    transition: all .5s;
  }
  #menu-btn-check:checked ~ .menu-content {
   right : 0;
  }

  /* --------------------
  main 
  -------------------- */

  #mainvisual img {
    width: 100%;
  }
  .main-img p {
    display: none;
  }

  /* --------------------
  about
  -------------------- */
  #about {
    flex-direction: column;
  }
  #about .main-img {
    display: none;
  }

  /* --------------------
  works
  -------------------- */
  
  #works {
    flex-direction: column;
  }
  #works .works-box2 {
    width: 100%;
    margin-bottom: 30px;
  }
  #works .btn {
    margin-left: auto;
    text-align: center;
    width: 100px;
    padding: 4px;
    border: 1px solid #383e45;
    border-radius: 30px;
    right: 0;
  }  
  #works .btn-menu {
    color: #383e45;
  }
  #works .btn:hover {
    cursor: pointer;
  }

  /* --------------------
  content
  -------------------- */ 
  #contact {
    flex-direction: column;
  }
  #contact svg {
    color: rgb(97, 205, 219);
  }
  #contact .twitter {
    color: #383e45;
  }

  /* --------------------
  footer
  -------------------- */ 
  #footer {
    flex-direction: column;
  }
  #footer a {
    margin: 10%;
    color: #383e45;
  }
}



/* --------------------
PC 
-------------------- */
@media screen and (min-width: 600px) and (max-width: 1980px) {
  body {
    background: linear-gradient(-570deg, #6551ff5b, #7ef6f865) fixed;
  }
  section {
    margin: 0 auto;
  }

  /* --------------------
  header
  -------------------- */
  #header {
    margin: 0 auto;
    padding: 0;
  }
  #menu-btn-check {
    display: none;
  }
  #header ul {
    padding: 0;
  }
  #header ul li {
    display: inline;
    list-style: none;
    margin: 72px;
  }
  #header a {
    font-family: 'Lobster', sans-serif;
    font-size: 1.5rem;
  }
  /* --------------------
  main
  -------------------- */
  /*-- mainvisual --*/
  .main-img {
    position: relative;
  }
  .main-img img {
    width: 100%;
    height: 300px;
  }
  .main-img p {
    background: rgba(137, 149, 219, 0.178);
    color: #dadada;
    position: absolute;
    text-align: center;
    bottom: 10%;
    right: 6%;
    width: 450px;
    padding: 10px 10px;
  }

  /*-- about --*/
  #about {
    display: none;
  }

  /*-- works --*/
  #works .box2 {
    display: flex;
  }
  #works img {
    width: 98%;
  }
  #works .view-more {
    display: flex;
    justify-content: right;
  }
  #works .btn {
    text-align: center;
    width: 100px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 8px;
    
    
    border: 1px solid black;
    border-radius: 30px;
    transition: .5s;
  }
  #works .btn-menu {
    padding: 8px;
    color: black;
  }
  #works .btn:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.473);
    transition: .5s;
  }

  /*-- contact --*/
  #contact .twitter-box {
    color: #383e45f3;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    width: 100px;
    transition:  .5s;
  }
  #contact .twitter-box:hover {
    color: rgb(0, 140, 255);
    transition: .5s;
  }


  /* --------------------
  footer
  -------------------- */
  #footer {
    margin: 0 auto;
    padding: 8px;
  }
  #footer p {
    text-align: center;
  }

  
}

