@charset "UTF-8";

/* --------------------
common
-------------------- */
html {
  font-size: 100%;
}
body {
  color:#383e45;
  font-size: 0.9rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
main {
  margin-bottom: 20px;
}
.site-title {
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
}
.section-title {
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;  
  border-bottom: solid 1px #383e45;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 100 auto;
  padding: 0 4%;
  text-align: center;
}
#footer p {
  font-size: 10px;
}
/* --------------------
Phone 
-------------------- */
@media screen and (max-width: 600px) {


  section {
    display: flex;
  }

  /* --------------------
  header
  -------------------- */
  #header {
    flex-direction: column;
  }
  #header a {
    margin: 10%;
    color: #383e45;
  }
  #header .box1 {
    margin-top: 10px;
    margin-bottom: 10px;    
  }

  /* --------------------
  main 
  -------------------- */

  #mainvisual img {
    width: 100%;
  }

  /* --------------------
  about
  -------------------- */
  #about {
    flex-direction: column;
  }

  /* --------------------
  works
  -------------------- */
  
  #works {
    flex-direction: column;
  }
  #works .works-box2 {
    width: 100%;
    margin-bottom: 30px;
  }
  #works .btn {
    margin-left: auto;
    text-align: center;
    width: 150px;
    padding: 4px;
    border: 1px solid #383e45;
    border-radius: 30px;
    right: 0;
  }  
  #works .btn-menu {
    color: #383e45;
  }
  #works .btn:hover {
    cursor: pointer;
  }

  /* --------------------
  content
  -------------------- */ 
  #contact {
    flex-direction: column;
  }
  #contact svg {
    color: rgb(97, 205, 219);
  }
  #contact .twitter {
    color: #383e45;
  }

  /* --------------------
  footer
  -------------------- */ 
  #footer {
    flex-direction: column;
  }
  #footer a {
    margin: 10%;
    color: #383e45;
  }
}



/* --------------------
PC 
-------------------- */

