@charset "UTF-8";

/* --------------------
common
-------------------- */

body {
  color:#383e45;
  font-size: 0.9rem;
}
a {
  color: #383e45;
  text-decoration: none;
}
img {
  max-width: 100%;
}

main {
  margin-bottom: 20px;
}
.section-title {
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 30px;  
  border-bottom: solid 1px #383e45;
}
.wrapper {
  max-width: 1500px;
  margin: 0 auto 100 auto;
  padding: 0 4%;
  text-align: center;
}
#footer p {
  font-size: 10px;
}

h2 {
  font-family: 'Lobster', sans-serif;
}
/* --------------------
Phone 
-------------------- */
@media screen and (max-width: 599px) {
  body {
    background: linear-gradient(#7ef6f865, #6551ff5b) fixed;
  }
  
  section {
    display: flex;
  }

  /* --------------------
  header
  -------------------- */
  /*-- humburger menu 三本線 --*/
  #header .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #1b1c1dad;
  }

  #header .menu-btn span,
  #header .menu-btn span::before,
  #header .menu-btn span::after {    
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }
  .menu-btn span::before {
    bottom: 8px;
    transition: all .5s;
  }
  .menu-btn span::after {
    top: 8px;
    transition: all .5s;
  }

  /*-- humburger menu × --*/    
  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    transition: all .5s;
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    transition: all .5s;
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
    transition: all .5s;
  }

  /*-- humburger menu check-box --*/  
  #menu-btn-check {
    display: none;
  }

  /*-- humburger menu  中--*/
  .menu-content {
    display: flex;
    margin-left: auto;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #383e45f3;
  }
  .menu-content ul {
    width: 100%;
    padding: 70px 10px 0;

  }
  .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }
  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }
  .menu-content ul li a::before {
    content: '';
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 17px;
  }


  /*-- humburger menu ×で閉じる --*/
  .menu-content {
    width: 65%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 80;
    background-color: #383e45d5;
    transition: all .5s;
  }
  #menu-btn-check:checked ~ .menu-content {
   right : 0;
  }

  /* --------------------
  main
  -------------------- */
    /*-- contact --*/
  #contact {
    flex-direction: column;
  }
  #contact-form {
    background: cornsilk;
    flex-direction: column;
    display: flex;
  }
  #contact .text {
    margin-bottom: 24px;
  }
  /*-- contact-form --*/
  #contact-fotm .input {
    width: 100%;
  }

  /*-- 送信ボタン --*/


}


/* --------------------
PC 
-------------------- */
@media screen and (min-width: 600px) and (max-width: 1980px) {
  body {
    background: linear-gradient(#7ef6f865, #6551ff5b) fixed;
  }

  

  section {
    margin: 0 auto;
  }
  /* --------------------
  header
  -------------------- */
  #header {
    margin: 0 auto;
    padding: 0;
  }
  #menu-btn-check {
    display: none;
  }
  #header ul {
    padding: 0;
  }
  #header ul li {
    display: inline;
    list-style: none;
    margin: 72px;
  }
  #header a {
    font-family: 'Lobster', sans-serif;
    font-size: 1.5rem;
  }

  /* --------------------
  main
  -------------------- */
  /*-- contact --*/
  #contact .text {
    padding: 16px;
  }
  /*-- contact-form --*/
  #contact-form {
    position: relative;
    width: 80%;
    height: 250px;
  }
  #contact-form .name {
    width: 50%;
    height: 250px;
  }
  #contact-form .name p {
    margin-top: 0;
    text-align: left;
  }
  #contact-form .name input {
    width: 95%;
    height: 50px;
    border-radius: 5px;
    border: solid 0px;
    margin-bottom: 10px;
  }
  #contact-form .name .form-inline {
    margin-left: 8px;
  }

  #contact-form .message {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
  }
  #contact-form .message .form-inline {
    margin-left: 8px;
  }
  #contact-form .message p {
    margin-top: 0;
  }
  #contact-form .message textarea {
    width: 100%;
    height: 146px;
    border-radius: 5px;
    border: solid 0px;
  }

  /*-- 送信ボタン --*/
  .btn {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .btn input {
    width: 100px;
    padding: 8px;
    border-radius: 5px;
    border: solid 0px;
    background: #ffffff;
    font-size: 1.0rem;
    
    transition: .5s;
  }

  .btn input:hover {
    cursor: pointer;
    background: #e4e4e4;
    transition: .5s;
  }

  /* --------------------
  footer
  -------------------- */
  #footer {
    margin-top: 100px;
  }
  #footer p {
    text-align: center;
    padding: 16px;
  }


}