@charset "UTF-8";

/* --------------------
common
-------------------- */

body {
  color:#383e45;
  font-size: 0.9rem;
}
a {
  color: #383e45;
  text-decoration: none;
}
img {
  max-width: 100%;
}
main {
  margin-bottom: 20px;
}
.section-title {
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 30px;  
  border-bottom: solid 1px #383e45;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto 100 auto;
  padding: 0 4%;
  text-align: center;
}
#footer p {
  font-size: 10px;
}
h2 {
  font-family: 'Lobster', sans-serif;
  
}
/* --------------------
Phone 
-------------------- */
@media screen and (max-width: 599px) {
  

  /* --------------------
  header
  -------------------- */
  /*-- humburger menu 三本線 --*/
  #header .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #1b1c1dad;
  }

  #header .menu-btn span,
  #header .menu-btn span::before,
  #header .menu-btn span::after {    
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }
  .menu-btn span::before {
    bottom: 8px;
    transition: all .5s;
  }
  .menu-btn span::after {
    top: 8px;
    transition: all .5s;
  }

  /*-- humburger menu × --*/    
  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    transition: all .5s;
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    transition: all .5s;
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
    transition: all .5s;
  }

  /*-- humburger menu check-box --*/  
  #menu-btn-check {
    display: none;
  }

  /*-- humburger menu  中--*/
  .menu-content {
    display: flex;
    margin-left: auto;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #383e45f3;
  }
  .menu-content ul {
    width: 100%;
    padding: 70px 10px 0;

  }
  .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }
  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }
  .menu-content ul li a::before {
    content: '';
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 17px;
  }


  /*-- humburger menu ×で閉じる --*/
  .menu-content {
    width: 65%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 80;
    background-color: #383e45d5;
    transition: all .5s;
  }
  #menu-btn-check:checked ~ .menu-content {
   right : 0;
  }

  /* --------------------
  main 
  -------------------- */


  #mainvisual img {
    width: 100%;
  }
  .main-img p {
    display: none;
  }


  /* --------------------
  about
  -------------------- */
  #about-1 {
    flex-direction: column;
  }
  #about-1 {
    margin-bottom: 50px;
  }
  #about-1 img {
    border-radius: 50%;
  }
  #about-1 .text1 {
    width: 340px;
    text-align: left;
    margin: 0 auto;
    padding: 0;

  }

  #about-2 {
    display: flex;
    width: 350px;
    background: rgba(206, 219, 245, 0.596);
    margin: auto;
  }
  #about-2 .text2 {
    text-align: left;
  }


  /* --------------------
  content
  -------------------- */ 
  #contact {
    flex-direction: column;
    
  }
  #contact svg {
    color: rgb(97, 205, 219);
  }
  #contact .twitter {
    color: #383e45;
  }

}

/* --------------------
PC 
-------------------- */
@media screen and (min-width: 600px) and (max-width: 1980px) {
  body {
    background: linear-gradient(-150deg, #6551ff5b, #7ef6f865) fixed;
  }
  section {
    margin: 0 auto;
  }
  /* --------------------
  header
  -------------------- */
  #header {
    margin: 0 auto;
    padding: 0;
  }
  #menu-btn-check {
    display: none;
  }
  #header ul {
    padding: 0;
  }
  #header ul li {
    display: inline;
    list-style: none;
    margin: 72px;
  }
  #header a {
    font-family: 'Lobster', sans-serif;
    font-size: 1.5rem;
  }

  /* --------------------
  main
  -------------------- */
  /*-- mainvisual --*/
  .main-img {
    position: relative;
  }
  .main-img img {
    width: 100%;
    height: 300px;
  }
  .main-img p {
    background: rgba(137, 149, 219, 0.178);
    color: #dadada;
    position: absolute;
    text-align: center;
    bottom: 10%;
    right: 6%;
    width: 450px;
    padding: 10px 10px;
  }

  /*-- about-1 --*/
  #about-1 {
    margin-bottom: 30px;
  }
  #about-1 .title {
    text-align: left;
    margin-left: 5%;
  }
  #about-1 .content {
    display: flex;
  }
  #about-1 img {
    border-radius: 50%;
  }
  #about-1 .text1 {
    margin-left: 24px;
  }
  #about-1 p {
    text-align: left;
  }
  #about-1 .p-top {
    margin-top: 30px;
  }
  .twitter-box {
    color: #383e45f3;
    margin: 0 auto;
    display: flex;
    width: 100%;
    transition:  .5s;
  }
  .twitter-box:hover {
    color: rgb(0, 140, 255);
    transition: .5s;
  }

  /*-- about-2 --*/
  #about-2 {
    padding: 8px;
  }
  #about-2 .text2 {
    display: flex;
    margin-left: auto;
    background: rgba(114, 134, 250, 0.24);
    width: 700px;    
    padding: 36px;
    text-align: left;
    justify-content: center;
  }


  /* --------------------
  footer
  -------------------- */
  #footer {
    margin: 0 auto;
  }
  #footer p {
    text-align: center;
  }

}